$basebg : #f9f9f9;
$dopgrey: #4a4a4a;
$manate: #979797;
$munsell: #f0f0f0;
$bluelink:#10345d;
$platinum:#e5e5e5;
$mikadoyellow:#ffc20f;
$medbud:#b8e986;
$ghostwhite:#f9f9f9;
$bluemansion:#00377b;
$lightgrey:#d6d6d6;

$twarning:#FF9F00;
$twarning-sc:#ffc20f;
// $tprimary:#009EE1;
$tprimary:#4a90e2;
$tprimary-alt:#14bbd0;
$tdanger:#ea7a7a;
$tdanger-alt:#d0021b;
$tinfo:#5fb100;
